/* *{
    margin:0;
    padding:0;
} */
body{
    width:100vh;
    height:100vh;
   display:flex;
    justify-content:center;
    align-items:center;

}
#img{
    width:100%;
    height:100%;
    background-image:url("background img.jpg");
    background-size:cover;
    -webkit-mask-image:url("./mask_frame-1.png");
    -webkit-mask-size:100%;
}